.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background-color: #333;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  

  .logout-button {
    padding: 5px 10px !important;
    background-color: #e24f55 !important;
    font-weight: 400 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    margin-left: auto !important; /* Push the button to the extreme right */
  }
